@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
body, h2, .btn, .btn-back, .article-body h2 {
  color: #363636;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  margin: 0;
  padding: 0;
}

#filter-field .input-field .MuiOutlinedInput-root fieldset, .card.MuiPaper-root, .article-body {
  border: 1px solid #eaeaea;
  border-radius: 5px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

h2 {
  font-weight: 600;
}

a {
  text-decoration: none;
}

.home {
  margin-top: 50px;
}

#filter-field .input-field {
  width: 50%;
}

#filter-field .input-field .MuiOutlinedInput-root {
  margin-bottom: 15px;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  color: #575757;
  -webkit-box-shadow: 0px 8px 24px rgba(65, 45, 45, 0.05);
          box-shadow: 0px 8px 24px rgba(65, 45, 45, 0.05);
}

#filter-field .input-field .MuiOutlinedInput-root input {
  padding-top: 13px;
  padding-bottom: 13px;
}

#filter-field .input-field .MuiOutlinedInput-root fieldset {
  border-color: #eaeaea;
}

.news-list h4 {
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
  margin-bottom: 45px;
}

.card.MuiPaper-root {
  margin-bottom: 40px;
  margin-right: 45px;
  -webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}

.card.MuiPaper-root:nth-child(3n + 3) {
  margin-right: 0;
}

.card.MuiPaper-root div,
.card.MuiPaper-root p,
.card.MuiPaper-root button {
  font-family: "Montserrat", sans-serif;
  text-transform: none;
  color: #363636;
}

.card-link {
  display: block;
}

.highlight-word {
  background-color: #fff619a1;
}

.date.MuiTypography-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}

.date.MuiTypography-root p {
  color: #363636;
  font-size: 14px;
  margin: 0;
  padding-top: 3px;
  padding-left: 10px;
  opacity: 0.6;
}

.date.MuiTypography-root svg {
  color: #363636;
  opacity: 0.6;
}

.title.MuiTypography-root {
  font-size: 24px;
  margin-bottom: 20px;
}

.btn {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn svg {
  padding-left: 7px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.btn:hover {
  background-color: transparent;
}

.btn:hover svg {
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}

.btn-back {
  text-transform: none;
  font-weight: 700;
  margin-bottom: 45px;
  margin-top: 35px;
}

.btn-back svg {
  padding-right: 10px;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}

.btn-back:hover svg {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.card-actions.MuiCardActions-root {
  padding-left: 25px;
  padding-bottom: 25px;
}

.article-img {
  height: 245px;
  max-height: 245px;
  z-index: -1;
}

.article-img div {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-body.MuiCardContent-root {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 18px;
}

.article-wrapper > div.MuiPaper-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-wrapper > div.MuiPaper-root a {
  height: 100%;
}

.article-wrapper > div.MuiPaper-root a button {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.article-body {
  z-index: 2;
  background-color: #fff;
  margin-top: -5%;
  padding: 35px 75px 50px 75px;
  -webkit-box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.05);
}

.article-body h2 {
  font-size: 24px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.article-footer {
  padding-left: 75px;
  padding-right: 75px;
}

@media screen and (max-width: 1200px) {
  .article-wrapper.MuiBox-root {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .article-wrapper.MuiBox-root .card.MuiPaper-root {
    margin-right: 0;
  }
}
/*# sourceMappingURL=App.css.map */